<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h4>
      Enter a stock ticker below. For example:  NFLX
    </h4>

    <!-- <form id='userinfoform_lulu' method='post'  action = 'plot'> -->
    <form id='userinfoform_lulu' method='post' >
      <p>
    Ticker: <input type='text' name='ticker' />
      </p>
      <p>
    <input type='submit' value='Submit' />
      <li><a href="/plot">See the plot</a></li>
      </p>
    </form>
  </body>
</html>
